/* sidans bakgrund */
body{
	background-color: #fff; 
	width: 100%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}

/* HEADER */
.header {
    height:100px;  
    background:#Fff;
    width:100%;
	top:0px;
	position: fixed; 
	overflow: hidden;	
}

nav{
	width: 80%;
    margin: 0 auto;
}

.logo {
	float: left;
	width: 200px;
	height: 60px;
	border-style: ridge;
}

.content {
    width: 80%;
    margin: 0 auto;
	background-color: #f5f5f5;
	/*margin-top: 100px;*/
	margin-bottom: 30px;
}

#clear {
    clear: both;
}

.textHolder
{
	width: 45%;
    margin-bottom: 2%;
    margin-left: 2.5%;
    margin-right: 2%;
    /*background-color: #f5f5f5;*/
    padding-top:1px;
    float: left;
}

.pictureHolder
{
	width: 45%;
    margin-bottom: 2%;
    margin-right: 2.5%;
    margin-left: 2%;
    /*background-color: #000;*/
    padding-top:40px;
    float: right;
}

.topImage
{
	/*width: 100%;*/
	width:100%;
	height: 10%;
}

.pictureProperties
{
	/*position: relative;*/
	height: 300px;
	width: 100%;
	margin-bottom: 10px;
}

li{
	list-style: none;
    /*display: inline-block;*/
    float: right;
	margin-left: 20px;
	margin-right: 20px;
	/*margin-top: 15px; */
}
h1{
	text-align: center;
	letter-spacing: 2px;
}
h2{
	color: #000; 
	font-size: 20px;  
	/*font-weight: 300;  
	line-height: 32px;  */
	/* margin: 0 0 72px;  */
	/* text-align: center; */
}

h3{
	color: #000; 
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 39px;  
}

h4{
	position: absolute;
	top: 200px;
	left: 0;
	width: 100;
}

p{
	margin-top: 0px;
	margin-right: 0px;
	text-align:justify;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*Footer */
.footer {
    margin-top: 10px ;
    font-size: 16px ;
    font-family: verdana ;
    width: 80%;
    height: 300px;
    background-color: #fafafa;
    padding-left: 20%;
    padding-top: 30px;
}
.footertext{
    width: 400px;
    /*margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    /*background-color: #f5f5f5;*/
    padding-top:1px;
    float: left;
}
#smallicon{
    width: 50px;
    height: auto;
    background-size: auto;
}
#facebook{
    width: 100px;
    height: auto;
}
#insta{
    width: 50px;
    height: auto;
}
.footertext p a{
    color: inherit;
    text-decoration: none;
}

/*.footertext p:nth-child(2){
    color: blue;
    text-decoration: none;
}