/* sidans bakgrund */
body{
	background-color: #012e40; */
	width: 100%;
	margin: auto;
}

/* HEADER */
.header {
    height:100px;  
    background:#025e73;
    width:100%;
	top:0px;
	position: fixed; 
	
}

.container{
	width: 50%;
    margin: 0 auto;
}

.content {
    width: 80%;
    margin: 0 auto;
	background-color: white;
	height: 1000px;
}

#clear {
    clear: both;
}

li{
	list-style: none;
    display: inline-block;
	/* float: right;   */
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	text-align: center;
}

h2{
	color: #FFF; 
	font-family: 'Open Sans', sans-serif; 
	/* font-size: 30px;  */
	/* font-weight: 300;  */
	/* line-height: 32px;  */
	/* margin: 0 0 72px;  */
	/* text-align: center; */
}
