/* sidans bakgrund */
body{
	background-color: #012e40;
}

/* HEADER */
/* TODO: Vill få headern att gå hela vägen ut i sidorna. Detta går att lösa med att slå på position: absolute men då blir det porblem med de andra elementen. */
.header {
    height:100px;
    background:#025e73;
    width:100%;
	margin-top: 2%;
	margin-left: 0;
    right: 0;
	/*position: absolute; */
}

.container {
    width: 80%;
    margin: auto;
	background-color: white;
	height: 1000px;
	opacity: 0.5;
    filter: alpha(opacity=50);
}
#first {
    width: 100px;
    float: left;
    height: 100px;
    background-color: blue;
}
#second {
    width: 200px;
    float: right;
    height: 300px;
    background-color: green;
    color: white;
}
#clear {
    clear: both;
}
